<h1 class="title">Would you rather with GRAHAM NORTON!</h1>

<% @questions.each do |question| %>
<div class="question-div row">
  <h3>Would You Rather...</h3>
  <div class="option1 col-sm-3">
    <%= form_for question, remote: true do |f| %>
    <%= f.hidden_field :option1_votes, :value => question.option1_votes + 1 %>
    <span id="<%=question.id%>_button1"><%= f.submit 'Vote Option 1', :class => 'btn btn-success' %></span>
    <div id="<%=question.id%>_option1">
      <p><%= question.option1 %> </p>
    </div>
    <% end %>
  </div>
  <div class="middle-content col-sm-3">
    <h2>OR</h2>
    <span id="<%=question.id%>_percentages">
    </span>
    <p>Total Votes: <span class="total-votes" id="<%=question.id%>_votes"><%= question.totalVotes %></span></p>
  </div>
  <div class="option2 col-sm-3">
    <%= form_for question, remote: true do |f| %>
    <%= f.hidden_field :option2_votes, :value => question.option2_votes + 1 %>
    <span id="<%=question.id%>_button2"><%= f.submit 'Vote Option 2', :class => 'btn btn-success'%></span>
    <div id="<%=question.id%>_option2">
      <p><%= question.option2 %></p>
    </div>
    <% end %>
  </div>
  <div class="user-comment col-sm-3">
    <span id="<%=question.id%>_new_link"><%= link_to 'Add Comment', new_question_comment_path(question), :class => 'btn btn-danger', remote: true %></span>
    <% if question.comments.any? %>
      <h3>Comments</h3>
      <% question.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment} %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
